<!DOCTYPE html>
<html>

<head>
    <title>
        Email Spam Classifier
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form method="POST">
            <textarea rows="32" cols="100" name="email-content" placeholder="Enter your email here"
              value="{{ text }}">{{ text }}</textarea>
            <div>
                <button>
                    Submit
                </button>
            </div>
        </form>
        <h2>Hi</h2>
    </div>
</body>

</html>