<!DOCTYPE html>
<html>

<head>
    <title>
        Email Spam Classifier
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form>
            <textarea rows="32" cols="100" name="content" placeholder="Type or paste your email here"></textarea>
            <div>
                <button>
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>

</html>